<footer class="footer">
  <small>
    The
    <%= link_to "Ruby on Rails Tutorial", "http://www.railstutorial.org/" %>
    by <%= link_to "Michael Hartl", "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
